ENVIRONMENT=local
SECRET_KEY=your_secret_key

# Databases urls
DATABASE_SQLITE_URL=

# JWT keys
SECRET_KEY_ACCESS=
SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=

#Stripe
STRIPE_SECRET_KEY=

# PostgreSQL
POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres

# Celery settings
CELERY_BROKER_URL=celery-broker-url
CELERY_RESULT_BACKEND=celery-result-backend

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ACTIVATION_URL=
PASSWORD_RESET_URL=

